* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #555b60;
}

main {
  margin: 0 auto;
  padding: 25px;
  max-width: 700px;
  min-height: 600px;
}

.main__title {
  text-align: center;
  font-size: 30px;
  margin: 30px 0px 20px 0px;
}

.input__field {
  width: 100%;
  height: 20%;
  padding: 5px;
  background-color: transparent;
  font-size: 8vh;
  text-align: right;
  margin-bottom: 30px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type="number"]:focus,
input[type="number"]:active {
  outline: none;
  border-color: initial;
}

button {
  padding: 10px;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

table {
  width: 100%;
  height: 100%;
}

tr {
  display: flex;
  margin-bottom: 8%;
  justify-content: space-around;
}

.equality {
  min-width: 12vw;
}

.operator {
  font-size: 25px;
  font-weight: bold;
  color: #f3ab41;
  background-color: #6d6a62;
}
